.env
__pycache__
secrets.py
run_cars.bat
settings.json
cars.db
listings.db
cars.db
IMPLEMENTATION.md
export.csv
build/
dist/listings.db-shm
dist/listiings.db-wal
listings.db-shm
listings.db-wal
main.spec

